<footer class="site-footer h-card">
<data class="u-url" href="/"></data>

<div class="wrapper">

<h2 class="footer-heading">Connect With Me</h2>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <ul class="contact-list">
      <li><a href="https://twitter.com/wiciafang" target="_blank"><img src="/images/social/tweet.svg" height=30px class="contact-item"></a>
      </li>
    </ul>
  </div>

  <div class="footer-col footer-col-2">
    <ul class="social-media-list">
      <li>
      <a href="mailto:WMFang@stanford.edu" target="_blank"><img src="/images/social/email.svg" height=30px class="contact-item"></a>
    </li>
    </ul>
  </div>

  <div class="footer-col footer-col-3">
    <ul class="social-media-list">
      <li>
      <a href="https://www.linkedin.com/in/wicia-fang/" target="_blank"><img src="/images/social/linkedin.svg" height=30px class="contact-item"></a>
    </li>
    </ul>
  </div>

</div>
</div>
</footer>
