<footer class="site-footer h-card">
<data class="u-url" href="/"></data>

<div class="wrapper">

<h2 class="footer-heading">Wicia Fang</h2>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <ul class="contact-list">
      <li class="p-name">Academic Researcher</li>
      <li><a class="u-email" href="mailto:WMFang@stanford.edu">WMFang@stanford.edu</a></li>
    </ul>
  </div>

  <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/wiciaf" target=_blank><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">wiciaf</span></a></li><li><a href="https://www.twitter.com/wicia_fang" target=_blank><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">wicia_fang</span></a></li></ul>
</div>
</div>

</div>

</footer>
