---
---

@import "minima";

/** Basic styling */
body { font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI Bold", Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #111; background-color: #fdfdfd; -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

h1, h2, h3, h4, p {
  font-family: Helvetica;
}

/*    HEADER    */
.panel {
  font-size: 45px;
  text-align: center;
  font-weight: bold;
}

.site-header {
  background: linear-gradient(-90deg, #35577D, #52dea8);
  color: white;
}

.site-nav {
  float: none;
  text-align: center;
  color: white;
}

.site-nav .page-link {color: white;}

/*    FOOTER    */
.footer-heading {
  text-align: center;
}

.footer-col-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-col {
  display: inline-block;
  width: auto;
  padding: 0 25px;
}

/*    HOME PAGE    */
.homeContainer_image {
  height: auto;
  border-radius: 50%;
}

.home-box {
  display: flex;
}

.home-left {
  float: left;
  padding: 25px;
}

.home-right {
  padding-top: 30px;
  padding-left: 45px;
  text-align: center;
}

.contact-buttons {
  padding-top: 25px;
}

.contact-item {
  height: 45px;
  padding: 6px;
}

ul li {
  list-style: none;
  display: inline-block;
}


/*     Art     */
.art-container {
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.art-description {
  float: left;
  width: 50%;
  padding-right: 20px;
}

.art-display {
  float: right;
  width: 50%
}

.art-display img {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}




// FOR MOBILE
@media only screen and (max-width: 600px) {

  body {
    text-align: center;
  }

  .site-nav .page-link {
    color: black;
  }

  // Home Page

  .home-box {
    display: contents;
    text-align: center;
  }

  .home-right {
    padding-left: 0px;
  }

  .contact-buttons {
    padding-right: 20px;
    display: none;
  }

  .contact-item {
    padding: 10px;
  }

  // Art

  .art-container {
    display: contents;
    justify-content: center;
    padding-bottom: 50px;
  }

  .art-description {
    float: none;
    padding-top: 20px;
    width: auto;
  }

  .art-display {
    float: none;
    padding-bottom: 50px;
    width: auto;
  }
}
