---
---

@import "minima";

/** Basic styling */
body { font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI Bold", Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #111; background-color: #fdfdfd; -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

h1, h2, h3, h4, p {
  font-family: Helvetica;
}

/*    HEADER    */
.panel {
  font-size: 45px;
  text-align: center;
  font-weight: bold;
}

.site-header {
  background: linear-gradient(-90deg, #35577D, #52dea8);
  color: white;
}

.site-nav {
  float: none;
  text-align: center;
  color: white;
}

.site-nav .page-link {color: white;}

/*    FOOTER    */
.footer-heading {
  text-align: center;
}

.footer-col-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-col {
  display: inline-block;
  width: auto;
  //padding: 0 10px;
}

/*    HOME PAGE    */
.homeContainer_image {
  height: auto;
  border-radius: 50%;
}

.home-box {
  display: flex;
}

.home-left {
  float: left;
  padding: 25px;
}

.home-right {
  padding-top: 30px;
  padding-left: 45px;
  text-align: center;
}

.contact-buttons {
  padding-top: 25px;
}

.contact-item {
  height: 45px;
  padding: 6px;
}

ul li {
  list-style: none;
  display: inline-block;
}
